<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Locadora</title>

<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="assets/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="page-header">
	<h2>Locadora</h2>
</div>

<div class="row container">
	<div class="col-md-3">
		<div wicket:id="painelMenu"></div>
	</div>
	<div class="col-md-9">
		<wicket:child></wicket:child>
	</div>
</div>

<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
</body>

</html>
